<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
<% if @book.errors.any? %>
  <div id="error">
  <div class="errormessage"><%= @book.errors.count %> errors prohibited this book from being saved:</div>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<div class="field">
  <div class="block">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div class="block">
  <%= f.label :opinion %>
  <%= f.text_area :body %>
  </div>
  
  <%= f.submit 'Update Book' %>
</div>

 <span>
<%= link_to 'Show', @book, class: "show_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>
 </span> 
<% end %>
</div>